@use "sass:math";

@function getColor($colorName, $weight: 400, $opacity: 1) {
  @return rgba(var(--clr-#{$colorName}-#{$weight}), #{$opacity});
}

@mixin useAppScrollbar($width: 10px, $mobileWidth: 6px) {
  --p-width: #{$width};
  @media (width <= 576px) {
    --p-width: #{$mobileWidth};
  }

  &::-webkit-scrollbar {
    width: var(--p-width);
    background-color: transparent;

    &-thumb {
      background-color: getColor(text);
      border-radius: calc(var(--p-width) / 2);
    }
  }
}
